<h1>Admin User Detail</h1>

<h2>Get parameter, user id : {{ userId }}</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>유저 <!--{{ 아이디 }}--> 상세정보 / 역할 : <!--{{ 역할 }}--></h4>
  </div>
  <div class="panel-body">
    <!-- 전 체 유 저 목 록 -->

    <h3>id: {{ result.id }}</h3>
    <h3>role: {{ result.role }}</h3>

    <!-- submitter partial view -->
    <div ng-show="result.role === 'submitter'">
      submit
    </div> <!-- submitter partial view -->



    <!-- valuer partial view -->
    <div ng-hide="result.role === 'submitter'">
      valer
    </div> <!-- valuer partial view -->

  </div>
</div>
