<h1>Submitter, Score: {{ score }}</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>참가 신청 가능한 태스크 목록</h4>
  </div>
  <div class="panel-body">
    <!-- <a class="btn btn-primary" href="#/admin/new-task">새 태스크 생성</a>
    <br><br> -->

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Desc.</th>
        <th>Min U.P.</th>
        <th>TDT Name</th>
        <th>TDT Schema</th>
        <th>---</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in appliableTaskList">
        <td>{{ item.t_name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.minimum_upload_period }}</td>

        <td>{{ item.task_data_table_name }}</td>
        <td>{{ item.task_data_table_schema }}</td>
        <td>
          <a ng-click="apply(item.id)">apply</a>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>참가 승인된 태스크 목록</h4>
  </div>
  <div class="panel-body">
    <!-- <a class="btn btn-primary" href="#/admin/new-task">새 태스크 생성</a>
    <br><br> -->

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Desc.</th>
        <th>Min U.P.</th>
        <th>TDT Name</th>
        <th>TDT Schema</th>
        <th>---</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in submittableTask">
        <td>{{ item.t_name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.minimum_upload_period }}</td>

        <td>{{ item.task_data_table_name }}</td>
        <td>{{ item.task_data_table_schema }}</td>

        <td>
          <a href="#/submitter-page/submit?tid={{item.id}}">submit</a>&nbsp;/&nbsp;<a href="#/submitter-page/info?tid={{item.id}}">info</a>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
